h1 {
	text-align: center;
	color: white;
	font-family: 'Comic Sans MS', cursive;
	font-weight: 600;
	letter-spacing: 10px;
	text-shadow: 2px 6px black;
	
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Comic Sans MS', cursive;
	font-weight: 100;
	}

body {
	background-color: red;
	animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}
	}
	
